.bas2{
    display: flex;
    background-color: #685FA0;
    opacity: 0.53 ;
    position: fixed;
    width: 75vh;
    height: 52vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    left: 0px;
    
}


.haut2 {
    display: flex;
    justify-content: center;
    position: relative;
    
}


.contenu {
    
    font-size: 35px; 
    color: #ffffff;
    justify-content: center;

  }