.bas2{
    display: flex;
    background-color: #685FA0;
    opacity: 0.53 ;
    width: 1000px;
    height: 575px;
    border-radius: 10px;
    
}


.haut2 {
    display: flex;
    justify-content: center
}


.contenu {
    
    font-size: 35px; 
    color: #ffffff;
    justify-content: center;

  }