.bas3{
    display: flex;
    background-color: #D296D4;
    opacity: 0.57 ;
    width: 1000px;
    height: 575px;
    border-radius: 10px;
    
}


.haut3 {
    display: flex;
    justify-content: center
}


.contenu {
    
    font-size: 35px; 
    color: #ffffff;
    justify-content: center;

  }