.bas3{
    display: flex;
    background-color: #D296D4;
    opacity: 0.57 ;
    position: fixed;
    width: 75vh;
    height: 52vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    left: 0px;
    
    
}


.haut3 {
    display: flex;
    justify-content: center
}


.contenu {
    
    font-size: 35px; 
    color: #ffffff;
    justify-content: center;

  }

.btnStart{
    width: 310px;
    height: 79px;
    background-color: #525ee1;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    position: fixed;
    left: 45vh;
    bottom: 20vh;
    font-size: 26px;
    
}
