.bas1{
    display: flex;
    background-color: #525FE1;
    opacity: 0.62 ;
    position: fixed;
    width: 75vh;
    height: 52vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    left: 0px;
    
}


.haut1 {
    display: flex;
    justify-content: center
}


.contenu {
    
    font-size: 35px; 
    color: #ffffff;
    justify-content: center;

  }